# Copier ce fichier en .env et remplir les valeurs
ADMIN_USERNAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=changeme

PLAYER1_USERNAME=Joueur1
PLAYER1_EMAIL=joueur1@example.com
PLAYER1_PASSWORD=changeme

PLAYER2_USERNAME=Joueur2
PLAYER2_EMAIL=joueur2@example.com
PLAYER2_PASSWORD=changeme